.logo-carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color2);
    margin-top: 85px;
    padding-block: 35px;
    position: absolute;
    left: 0;
    right: 0;


    .all-logo-title {
        width: 100%;

        .logo-button {
            background-color: transparent;
            border: none;
            cursor: pointer;

            svg {
                fill: var(--color1);

                &:hover {
                    fill: var(--color3);
                }

                @media only screen and (max-width: 620px) {
                    width: 50px;
                    height: 50px;
                }
            }

        }

        .logo-title {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;

            h2 {
                color: var(--color1);
                font-size: 2rem;
            }
        }

        .all-logo {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .logo {
                height: 100%;
                text-align: center;

                svg {
                    width: 75%;
                    height: 195px;
                }
            }

        }
    }
}