@mixin formStyle {
    margin-bottom: 30px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-weight: 700;
    width: 100%;
    height: auto;
    background-color: #fff;
}

.bloc-form {
    background-color: $blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px;
    border-radius: 20px;
    margin-top: 200px;
    transform: rotate(-9deg);
    width: 1000px;

    @media only screen and (max-width: 1100px) {
        width: 100%;
        transform: rotate(0deg);
        border-radius: 0;
    }

    @media only screen and (max-width: 875px) {
        margin-top: 0;
        padding: 100px 75px 0 75px
    }

    &>* {
        transform: rotate(9deg);

        @media only screen and (max-width: 1100px) {
            transform: rotate(0deg);
        }
    }


    .bloc-form_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;

        @media only screen and (max-width: 575px) {
            width: 300px;
        }

        h2 {
            font-size: 1.5em;
            font-weight: 900;
            color: #fff;
            margin-bottom: 30px;
        }

        input {
            @include formStyle;
            height: 40px;
        }

        .textAreaMail {
            @include formStyle;
            resize: vertical;
            border-end-end-radius: 0;
            min-height: 280px;
        }

        .form-recaptcha {
            margin-bottom: 30px;
        }

        .sendButtonMail {
            @include formStyle;
            border-radius: 25px;
            width: 150px;
            cursor: pointer;
            color: $blue;

            &:hover {
                background-color: #dfe0e9;
                color: $red;
            }
        }
    }

}