header {
    display: flex;
    justify-content: flex-end;
    padding: 30px;

    .nav-menu {
        font-weight: 700;
        text-decoration: none;
        &:hover {
            color: $red;
        }
    }
}

footer {
    background-color: $blue;
    padding-block: 160px 65px;

    .footer-logo {
        display: flex;
        justify-content: space-around;
        @media only screen and (max-width: 425px) {
            margin-bottom: 20px;
        }

        .logo-github-bloc {
            background-color: #fff;
            padding: 25px;
            border-radius: 50%;

            .logo-github {
                fill: $blue;
            }

            &:hover {
                background-color: $gradientRed;

                .logo-github {
                    fill: #fff;
                }
            }
            @media only screen and (max-width: 425px) {
                padding: 15px;
                .logo-github {
                    height: 35px;
                    width: 35px;
                }
            }
        }

        .logo-linkedin-bloc {
            background-color: #fff;
            padding: 25px;
            border-radius: 50%;

            .logo-linkedin {
                fill: $blue;
            }

            &:hover {
                background-color: $gradientRed;

                .logo-linkedin {
                    fill: #fff;
                }
            }
            @media only screen and (max-width: 425px) {
                padding: 15px;
                .logo-linkedin {
                    height: 35px;
                    width: 35px;
                }
            }
        }
    }

    .footer-copyright {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            color: #fff;
            font-size: 13px;
            font-weight: 900;
        }
    }
}