header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px;

    .nav-menu {
        font-weight: 700;
        text-decoration: none;

        &:hover {
            color: $red;
        }
    }

    .language-toggle {
        display: flex;
        margin-left: 5px;
        background-color: $red;
        color: $color1;
        border-radius: 20px;
        width: 65px;
        padding-right: 5px;
        cursor: pointer;

        &.button-fr {
            .animate-translate {
                transform: translateX(0);
            }
        }
        
        &.button-en {
            .animate-translate {
                transform: translateX(100%);
            }
        }
        
        .animate-translate {
            transition: transform .7s ease;
            margin: 5px;
            
            .language-button {
                display: flex;
                justify-content: center;
                border: none;
                font-size: 1rem;
                font-weight: 900;
                background-color: $color1;
                border-radius: 50%;
                padding: 5px;
                width: 27.5px;
                color: $blue;
                cursor: pointer;
            }
        }
    }

    @media only screen and (max-width: 1023px) {
        justify-content: space-between;
    }
}

footer {
    background-color: $blue;
    padding-block: 160px 65px;

    @media only screen and (max-width: 768px) {
        padding-block: 100px 65px;
    }


    .footer-logo {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        height: 175px;

        .footer-logo-cv {
            display: flex;
            align-items: flex-start;
            height: 100%;
        }

        @media only screen and (max-width: 500px) {
            margin-bottom: 20px;
        }

        .logo-bloc {
            background-color: $color1;
            padding: 25px;
            border-radius: 50%;

            .logo {
                fill: $blue;
            }

            &:hover {
                background-color: $gradientRed;

                .logo {
                    fill: $color1;
                }
            }

            @media only screen and (max-width: 500px) {
                padding: 15px;

                .logo {
                    height: 35px;
                    width: 35px;
                }
            }
        }

        .logo-linkedin-bloc {
            background-color: $color1;
            padding: 25px;
            border-radius: 50%;

            .logo-linkedin {
                fill: $blue;
            }

            &:hover {
                background-color: $gradientRed;

                .logo-linkedin {
                    fill: $color1;
                }
            }

            @media only screen and (max-width: 500px) {
                padding: 15px;

                .logo-linkedin {
                    height: 35px;
                    width: 35px;
                }
            }
        }
    }

    .footer-copyright {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            color: $color1;
            font-size: 13px;
            font-weight: 900;
        }
    }
}