header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

    .color-toggle {
        display: flex;
        margin-left: 5px;
        background-color: var(--color3);
        color: var(--color1);
        border-radius: 20px;
        width: 65px;
        padding-right: 5px;
        cursor: pointer;

        &.dark-mode {
            .animate-translate {
                transform: translateX(0%);
            }
        }

        &.automatic-mode {
            .animate-translate {
                transform: translateX(50%);
            }
        }

        &.light-mode {
            .animate-translate {
                transform: translateX(100%);
            }
        }

        .animate-translate {
            transition: transform .7s ease;
            margin: 5px;

            

            .color-button {
                display: flex;
                justify-content: center;
                border: none;
                font-size: 1rem;
                font-weight: 900;
                background-color: var(--color1);
                border-radius: 50%;
                padding: 5px;
                width: 27.5px;
                color: var(--color2);
                cursor: pointer;

                .color-logo {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }

    .block-nav-language {
        display: flex;
        align-items: center;

        @media only screen and (max-width: 425px) {
            justify-content: space-between;
            margin-left: 10px;
        }

        .nav-menu {
            font-weight: 700;
            text-decoration: none;
            color: var(--color2);

            &:hover {
                color: var(--color3);
            }
        }

        .language-toggle {
            display: flex;
            margin-left: 5px;
            background-color: var(--color3);
            color: var(--color1);
            border-radius: 20px;
            width: 65px;
            padding-right: 5px;
            cursor: pointer;

            &.button-fr {
                .animate-translate {
                    transform: translateX(0);
                }
            }

            &.button-en {
                .animate-translate {
                    transform: translateX(100%);
                }
            }

            .animate-translate {
                transition: transform .7s ease;
                margin: 5px;

                .language-button {
                    display: flex;
                    justify-content: center;
                    border: none;
                    font-size: 1rem;
                    font-weight: 900;
                    background-color: var(--color1);
                    border-radius: 50%;
                    padding: 5px;
                    width: 27.5px;
                    color: var(--color2);
                    cursor: pointer;
                }
            }
        }
    }

    @media only screen and (max-width: 1023px) {
        justify-content: space-between;
    }
}

footer {
    background-color: var(--color2);
    padding-block: 160px 65px;

    @media only screen and (max-width: 768px) {
        padding-block: 100px 65px;
    }


    .footer-logo {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        height: 175px;

        .footer-logo-cv {
            display: flex;
            align-items: flex-start;
            height: 100%;
        }

        @media only screen and (max-width: 500px) {
            margin-bottom: 20px;
        }

        .logo-bloc {
            background: linear-gradient(45deg, var(--color1) 70%, var(--gradientColor3));
            padding: 25px;
            border-radius: 50%;
            display: flex;
            box-shadow: 0 10px 20px var(--color3);

            .logo {
                fill: var(--color3);
            }

            &:hover {
                background: linear-gradient(45deg, var(--color3) 5%, var(--gradientColor3) 65%);

                .logo {
                    fill: var(--color1);
                }
            }

            @media only screen and (max-width: 500px) {
                padding: 15px;

                .logo {
                    height: 35px;
                    width: 35px;
                }
            }
        }

        .logo-linkedin-bloc {
            background-color: var(--color1);
            padding: 25px;
            border-radius: 50%;

            .logo-linkedin {
                fill: var(--color2);
            }

            &:hover {
                background-color: var(--gradientColor3);

                .logo-linkedin {
                    fill: var(--color1);
                }
            }

            @media only screen and (max-width: 500px) {
                padding: 15px;

                .logo-linkedin {
                    height: 35px;
                    width: 35px;
                }
            }
        }
    }

    .footer-copyright {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            @include select-text(var(--color3));
            color: var(--color1);
            font-size: 13px;
            font-weight: 900;
        }
    }
}