.project-modal_overlay {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-y: scroll;

    .projet-modal_content {
        background-color: #fff;
        width: 1200px;
        height: max-content;
        margin: 40px;
        padding: 20px;
        border-radius: 10px;
        color: $blue;

        .modal-close-button {
            background: none;
            border: none;
            display: flex;
            justify-content: flex-end;
            width: 100%;
            color: $blue;
            font-size: 24px;
            cursor: pointer;

            svg {
                fill: $blue;
                transition: transform 0.3s ease-in-out;

                &:hover {
                    transform: rotate(180deg);
                }
            }
        }

        .modal-title {
            text-align: center;
            font-weight: 900;
            text-transform:uppercase;
            font-size: 3rem;
        }
        .modal-content-video {
            width: 100%;
            height: auto;

            .modal-video {
                border: none;
                width: 100%;
                height: 400px;
            }
        }

        .modal-content-text {
            display: flex;
            flex-direction: column;
            .modal-description {
                margin-bottom: 10px;
            }

            .modal-contraints {
                margin-bottom: 10px;
                ul {
                    list-style: url("https://api.iconify.design/mdi:close-circle-outline.svg");
                    list-style-position: inside;
                }
            }
        }
    }

    .gitHub-bloc {
        @include gitHubStyle($red, $blue);
    }

}

@media only screen and (max-width: 1184px) {
    .bloc-projects {
        h1 {
            @include custom-style-title($font-size-medium);
        }
    }
}

@media only screen and (max-width: 720px) {
    .bloc-projects {
        h1 {
            @include custom-style-title($font-size-small);
        }
    }
}

@media only screen and (max-width: 380px) {
    .bloc-projects {
        h1 {
            @include custom-style-title($font-size-xs);
        }
    }
}