.project-modal_overlay {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-y: scroll;

    .projet-modal_content {
        background-color: #fff;
        width: 950px;
        height: max-content;
        margin: 40px;
        padding: 20px;
        border-radius: 10px;
        color: $blue;

        .modal-close-button {
            background: none;
            border: none;
            display: flex;
            justify-content: flex-end;
            width: 100%;
            color: $blue;
            font-size: 24px;
            cursor: pointer;

            svg {
                fill: $blue;
                transition: transform 0.3s ease-in-out;

                &:hover {
                    transform: rotate(180deg);
                }
            }
        }

        .modal-title {
            text-align: center;
            font-weight: 900;
            text-transform: uppercase;
            font-size: 2.5rem;
            margin-bottom: 10px;

            @media only screen and (max-width: 768px) {
                font-size: 2rem;
            }

            @media only screen and (max-width: 545px) {
                font-size: 1rem;
            }
        }

        .modal-content-video {
            width: 100%;
            height: auto;

            .modal-video {
                border: none;
                width: 100%;
                height: 400px;

                @media only screen and (max-width: 768px) {
                    height: 200px;
                }

                @media only screen and (max-width: 545px) {
                    height: 100px;
                }
            }
        }

        .modal-content-text {
            display: flex;
            flex-direction: column;

            .modal-year {
                font-weight: 700;
                margin-bottom: 10px;
                @media only screen and (max-width: 768px) {
                    font-size: 1rem;
                }

                @media only screen and (max-width: 545px) {
                    font-size: .75rem;
                }
            }

            .modal-description {
                margin-bottom: 10px;

                h3 {
                    margin-bottom: 10px;
                    @media only screen and (max-width: 768px) {
                        font-size: 1.5rem;
                    }

                    @media only screen and (max-width: 545px) {
                        font-size: 1rem;
                    }
                }

                p {
                    font-size: 1rem;
                    margin-bottom: 5px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    @media only screen and (max-width: 768px) {
                        font-size: .75rem;
                    }

                    @media only screen and (max-width: 545px) {
                        font-size: .5rem;
                    }
                }
            }

            .modal-contraints {
                margin-bottom: 10px;

                h3 {
                    margin-bottom: 10px;
                    @media only screen and (max-width: 768px) {
                        font-size: 1.5rem;
                    }

                    @media only screen and (max-width: 545px) {
                        font-size: 1rem;
                    }
                }

                ul {
                    list-style: url("https://api.iconify.design/mdi:close-circle-outline.svg");
                    list-style-position: inside;

                    li {
                        font-size: 1rem;
                        margin-bottom: 5px;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        @media only screen and (max-width: 768px) {
                            font-size: .75rem;
                        }

                        @media only screen and (max-width: 545px) {
                            list-style: none;
                            font-size: .5rem;
                        }
                    }
                }
            }
        }
    }

    .gitHub-bloc {
        @include gitHubStyle($red, $blue);
    }

}