.bloc-about-me {
    height: 100%;
    margin-inline: 50px;
    padding-bottom: 100px;

    h1 {
        @include custom-style-title;
        align-items: center;
        margin-bottom: 170px;
        display: block;
    }

    .about-me_img {
        position: absolute;
        right: 0;

        img {
            width: 100px;
            height: auto;
            clip-path: ellipse(50% 60% at 50% 50%);
        }
    }

    .about-me_content {
        display: flex;
        flex-direction: column;

        .about-me_description-left {
            @include aboutMeText;
        }

        .about-me_description-right {
            align-items: flex-end;
            @include aboutMeText;

            p {
                text-align: right;
            }
        }

    }
}