.header-home {
    position: absolute;
    right: 0;
    z-index: 1;
    width: 100%;
    a {
        display: none;
    }
}
.bloc-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &:before {
        content: "";
        background-color: var(--color2);
        height: 100%;
        width: 50%;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }

    h1 {
        color: var(--color3);
        font-weight: 700;
        // mix-blend-mode: exclusion;
        margin-block: 75px;
        font-size: 16px;

        &:hover {
            color: var(--color3);
        }

        &::selection {
            background-color: transparent;
        }

        @media only screen and (max-width: 425px) {
            font-size: 13px;
        }
    }

    a {
        text-decoration: none;
        padding-bottom: 75px;
        font-size: 160px;
        font-weight: 900;
        color: #DFE0E9;
        font-family: 'Montserrat', 'Open Sans', sans-serif;
        mix-blend-mode: luminosity;
        @include select-text(var(--color3));

        @media only screen and (max-width: 1305px) {
            font-size: 120px;
        }

        @media only screen and (max-width: 835px) {
            font-size: 75px;
        }

        @media only screen and (max-width: 425px) {
            font-size: 50px;
        }

        &:hover {
            color: var(--color3);
        }

        &:last-child {
            padding-bottom: 0;
        }

        &::selection {
            color: var(--color3);
        }

    }

    .copyright-home {
        position: absolute;
        left: 0;
        transform: rotate(270deg);
        bottom: 50%;
        font-weight: 900;
        font-size: 13px;
        color: var(--color2);
        @include select-text(var(--color3));

        @media only screen and (max-width: 768px) {
            position: relative;
            transform: rotate(0deg);
            bottom: 0;
            margin-block: 50px;
            // mix-blend-mode: exclusion;
            color: var(--color3);
        }
    }
}

.footer-home {
    display: none;
}