.headerHome {
    z-index: 1;
    position: absolute;
    right: 0;

    a {
        display: none;
    }
}

.footerHome {
    display: none;
}

.bloc-home {
    .home-menu {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            color: $red;
            font-weight: 700;
            mix-blend-mode: exclusion;
            margin-block: 75px;

            &:hover {
                color: $red;
            }

            &::selection {
                background-color: transparent;
            }
        }

        a {
            text-decoration: none;
            padding-bottom: 75px;
            font-size: 160px;
            font-weight: 900;
            color: #DFE0E9;
            font-family: 'Montserrat', 'Open Sans', sans-serif;
            mix-blend-mode: luminosity;
            @include select-text;

            @media only screen and (max-width: 1305px) {
                font-size: 120px;
            }

            @media only screen and (max-width: 768px) {
                font-size: 75px;
            }

            @media only screen and (max-width: 425px) {
                font-size: 50px;
            }

            &:hover {
                color: $red;
            }

            &:last-child {
                padding-bottom: 0;
            }

            &::selection {
                color: $red;
            }
        }

        &:before {
            content: "";
            background-color: #253068;
            height: 1300px;
            width: 50vw;
            position: absolute;
            right: 0;
            top: 0;

            @media only screen and (max-width: 768px) {
                height: 900px;
            }

            @media only screen and (max-width: 425px) {
                height: 775px;
            }
        }
    }

    .copyright-home {
        display: flex;
        transform: rotate(270deg);
        position: absolute;
        bottom: 80px;
        font-weight: 900;
        font-size: 13px;
        color: $blue;

        @media only screen and (max-width: 768px) {
            position: relative;
            transform: rotate(0deg);
            bottom: 0;
            margin-top: 50px;
            justify-content: center;
            mix-blend-mode: exclusion;
            color: $red;
        }
    }
}