.bloc-projects {
    &:before {
        content: "";
        height: 1500px;
        width: 100%;
        background-color: $blue;
        position: absolute;
        top: 450px;
        left: 0;
        z-index: -1;
        clip-path: polygon(0% 0%, 100% 10%, 100% 100%, 0% 90%);
    }

    h1 {
        @include custom-style-title($font-size-large);
        align-items: center;

    }

    .bloc-projects-container {
        margin: 10%;

        .projet-card {
            display: flex;
            margin-bottom: 50px;
            justify-content: center;

            &:last-child {
                margin-bottom: 0;
            }

            .project-description {
                width: 500px;
                height: 286px;
                border-radius: 5px 0 0 5px;
                background-color: #fff;
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);

                &.hovered {
                    transform: rotateY(180deg) scaleX(-1);
                    transition: transform .5s ease;
                }

                .project-date {
                    display: flex;
                    justify-content: flex-end;
                }

                h2 {
                    overflow-wrap: break-word;
                    color: $blue;
                    font-size: 2rem;
                    text-align: center;

                    @media only screen and (max-width: 1184px) {
                        font-size: 1.75rem;
                    }

                    @media only screen and (max-width: 720px) {
                        font-size: 1.5rem;
                    }

                    @media only screen and (max-width: 380px) {
                        font-size: 1rem;
                    }
                }

                h3 {
                    color: $blue;
                    margin-bottom: 5px;
                    font-size: 1rem;
                }

                p {
                    overflow-wrap: break-word;
                    color: $blue;
                    font-size: 0.75rem;
                    text-align: justify;

                    @media only screen and (max-width: 380px) {
                        font-size: .65rem;
                    }
                }

                .project-logo {
                    display: flex;
                    padding-inline: 10px;

                    .project-logo-svg {
                        display: flex;

                        svg {
                            height: 25px;
                        }
                    }
                }

                .gitHub-bloc {
                    @include gitHubStyle($red, $blue);
                }
            }

            .project-image {
                width: 500px;
                height: 286px;
                background-color: $red;
                box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
                border-radius: 0 5px 5px 0;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                position: relative;

                .btn-play-modal {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    cursor: pointer;
                    border-radius: 50%;
                    border: none;
                    width: 75px;
                    height: 75px;
                    top: 45%;
                    left: 45%;
                    background-color: #fff;
                    box-shadow: 0px 10px 20px rgba(0, 0, 0, .5);

                    &:hover {
                        background-color: $gradientRed;

                        svg {
                            fill: #fff;
                        }
                    }

                    svg {
                        fill: $red;
                    }
                }

                img {
                    border-radius: 5px 0 5px 0;
                    width: 90%;
                    height: 90%;
                    object-fit: cover;
                }
            }

        }
    }
}