.bloc-skills {
    h1 {
        @include custom-style-title($font-size-large);
        align-items: center;
    }

    .bloc-skills-section {
        display: flex;
        margin-top: 500px;
        justify-content: center;
        flex-wrap: wrap;

        .bloc-skills_section-professional {
            @include blocSkills;
            .professional-bloc {
                margin-block: 10px;
        
                ul {
                    list-style: none;
        
                    li {
                        color: #fff;
                        overflow-wrap: break-word;
                    }
                }
            }
        }

        .bloc-skills_section-academic {
            @include blocSkills;

            .academic-bloc {
                margin-block: 10px;
        
                ul {
                    list-style: none;
        
                    li {
                        color: #fff;
                        overflow-wrap: break-word;
                    }
                }
            }
        }
    }
}