.bloc-skills {
    h1 {
        @include custom-style-title($font-size-large);
        align-items: center;
    }

    .bloc-skills-section {
        display: flex;
        margin-top: 500px;
        justify-content: center;
        flex-wrap: wrap;

        .bloc-skills_section {
            display: flex;
            flex-direction: column;
            text-align: center;
            background-color: $blue;
            border-radius: 10px;
            padding: 30px;
            height: auto;
            margin: 50px;
            width: 530px;

            .skills-professional,
            .skills-academic {
                color: #fff;
                font-size: 2rem;

            }

            .skills-academic {
                @media only screen and (max-width: 620px) {
                    color: $red;
                }
            }

            h3 {
                color: $red;
            }

            .professional-bloc,
            .academic-bloc {
                margin-block: 10px;

                ul {
                    list-style: none;

                    li {
                        color: #fff;
                        overflow-wrap: break-word;

                        @media only screen and (max-width: 620px) {
                            &:last-child {
                                color: $blue;
                                font-weight: 700;
                            }
                        }
                    }
                }
            }

            @media only screen and (max-width: 620px) {
                margin: 0;
                width: 100%;
                border-radius: 0;
                padding: 100px 30px 30px 30px;

                &:last-child {
                    background-color: #fff;
                }
            }
        }

        @media only screen and (max-width: 620px) {
            margin-top: 375px;
        }
    }
}