
.bloc-skills {
    h1 {
        @include custom-style-title;
        align-items: center;
    }

    .bloc-skills-section {
        display: flex;
        margin-top: 500px;
        justify-content: center;

        .bloc-skills_section-professional {
            @include blocSkills;
        }

        .bloc-skills_section-academic {
            @include blocSkills;
            .academic-item {
                .academic-item-language{
                    display: flex;
                    width:fit-content;
                    // overflow-wrap: break-word;
                    height: auto;
                    li {
                        overflow-wrap: break-word;
                    }
                }
            }
        }
    }
}