@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import './mixin';
@import './color';

/* TITLE SIZE */
$font-size-large: 250px;
$font-size-medium: 150px;
$font-size-small: 75px;
$font-size-xs: 50px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
}

body {
    background-color: $color1;
}

main {
    width: 100%;
}
