@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$red: #D6372E;
$blue: #253068;
$grey: #DFE0E9;
$gradientRed: rgb(214, 55, 46, 0.5);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
}

main {
    width: 100%;
}

@mixin select-text {
    &::selection {
        color: $red;
        background-color: transparent;
    }
}

@mixin custom-style-title {
    font-size: 250px;
    font-weight: 700;
    color: $blue;
    display: flex;
    justify-content: center;
    @include select-text;

    &:after {
        content: str-slice(".", -1);
        color: $red;
    }
}

@mixin aboutMeText {
    color: $blue;
    display: flex;
    flex-direction: column;

    p {
        width: 600px;
        padding-bottom: 20px;
        font-size: 12px;
        font-weight: 700;

        &:last-child {
            padding-bottom: 0;
        }
    }
}

@mixin blocSkills {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: $blue;
    margin: 50px;
    border-radius: 10px;
    padding: 30px;
    width: 530px;
    height: auto;

    h2 {
        color: #fff;
        font-size: 2rem;
    }

    h3 {
        color: $red;
    }

    .professional-bloc {
        margin-block: 10px;

        ul {
            list-style: none;

            li {
                color: #fff;
                overflow-wrap: break-word;
            }
        }
    }

}

@mixin gitHubStyle {
    display: flex;
    justify-content: center;
    align-items: center;

    .gitHub-link {
        display: flex;
        align-items: center;
        text-decoration: none;

        p {
            font-size: 1rem;
            font-weight: 900;
            color: $blue;
            padding-right: 5px;
        }

        svg {
            fill: $blue;
        }

        &:hover {
            p {
                color: $red;
            }

            svg {
                fill: $red;
            }
        }
    }
}