@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import './mixin';
// @import './color;'

/* COLOR */
$color1: #fff;
$color2: #253068;
$color3: #D6372E;
$gradientRed: rgb(214, 55, 46, 0.5);

/* TITLE SIZE */
$font-size-large: 250px;
$font-size-medium: 150px;
$font-size-small: 75px;
$font-size-xs: 50px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
}

main {
    width: 100%;
}