/* MIXIN */

@mixin select-text($color) {
    &::selection {
        color: $color;
        background-color: transparent;
    }
}

@mixin custom-style-title($font-size) {
    font-size: $font-size;
    font-weight: 700;
    color: var(--color2);
    display: flex;
    justify-content: center;
    @include select-text(var(--color3));

    @media only screen and (max-width: 1184px) {
        font-size: $font-size-medium;
    }

    @media only screen and (max-width: 845px) {
        font-size: $font-size-small;
    }

    @media only screen and (max-width: 430px) {
        font-size: $font-size-xs;
    }

    &:after {
        content: str-slice(".", -1);
        color: var(--color3);
    }
}

@mixin aboutMeText {
    color: var(--color2);
    display: flex;
    flex-direction: column;
    text-align: justify;

    p {
        @include select-text(var(--color3));
        width: 650px;
        padding-bottom: 20px;
        font-size: 1rem;
        font-weight: 700;

        &:last-child {
            padding-bottom: 0;
        }

        @media only screen and (max-width: 1184px) {
            width: 450px;
        }

        @media only screen and (max-width: 740px) {
            width: 350px;
        }

        @media only screen and (max-width: 660px) {
            width: 100%;
        }

        @media only screen and (max-width: 510px) {
            font-size: .75rem;
        }
    }

    @media only screen and (max-width: 845px) {
        align-items: center;
    }
}

@mixin gitHubStyle($color, $hoverColor) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 20px;

    .gitHub-link {
        display: flex;
        align-items: center;
        text-decoration: none;

        p {
            @include select-text(var(--color2));
            font-size: 1rem;
            font-weight: 900;
            color: $color;
            padding-right: 5px;
        }

        svg {
            @include select-text(var(--color2));
            fill: $color;
        }

        &:hover {
            p {
                color: $hoverColor;
            }

            svg {
                fill: $hoverColor;
            }
        }
    }
}

@mixin nail {
    height: 15px;
    width: 15px;
    background-color: lightgray;
    border-radius: 50%;
    position: absolute;

    @media only screen and (max-width: 620px) {
        display: none;
    }
}